.modal-img, .modal-text{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}


  .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    z-index: 1001;
  }
  
  .modal-header,
  .modal-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    bottom: 80%;
    left: 130%;
    
  }
  
  button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8A33FD;
    ;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  .modal-body img {
    max-width: 100%;
    height: auto;
  }